{% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}

<div class="columns">
    <div class="column"></div>
    <div class="column is-three-quarters">
        {% if currentYear != year %}
            <div class="is-size-4 has-text-weight-bold">{{ year }}</div>
            <hr class="mt-0">
            {% assign var currentYear = year %}
        {% endif %}

        <div class="is-size-5">
            <a href="{{ post.url | url }}">{{ post.data.pageTitle }}</a>
            <span class="is-size-7 has-text-grey-light ml-3">{{ post.date | date: "%e %b" }}</span>
        </div>
    </div>
    <div class="column"></div>
</div>
